<div class="shadow shadow-sm p-3 mb-5 bg-body-tertiary rounded fixed-top">
  <header class="d-flex justify-content-center py-2">
    <ul class="nav nav-pills">
      <li class="nav-item"><a target="_blank" href="https://mywebsite.com/about" class="nav-link active" aria-current="page">Home</a></li>
      <li class="nav-item"><a target="_blank" href="https://mywebsite.com/Features" class="nav-link">Features</a></li>
      <li class="nav-item"><a target="_blank" href="https://mywebsite.com/Pricing" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a target="_blank" href="https://mywebsite.com/FAQs" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a target="_blank" href="https://mywebsite.com/About" class="nav-link">About</a></li>
    </ul>
  </header>
</div>
